/* RecruitRead.css */

/* 전체 컨테이너 */
.recruitRead-container {
    max-width: 800px; /* 기존 800px에서 200px 증가 */
    margin: 20px auto;
    padding: 15px 30px;
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 신청한 사람 리스트 컨테이너 중앙 정렬 */
.recruitRead-applied-list-container {
    margin: 30px auto 0 auto; /* 상단 30px, 좌우 중앙 정렬 */
    max-width: 800px; /* recruit-container와 동일하게 설정 */
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.recruitRead-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;

}

.recruitRead-title-detail{
    margin-bottom: 10px;
}

/* 제목 스타일 */
.recruitRead-title {
    font-size: 2em;
    margin-bottom: 5px;
    color: #333;

    padding: 0px;
}

/* 본문 스타일 */
.recruitRead-content p {
    font-size: 1.2em;
    margin-bottom: 10px;
    line-height: 1.6;
    color: #555;
}

.recruitRead-content-detail{
    min-height: 400px;
    border-bottom: #ddd solid 1px;
}

/* 버튼 스타일 */
.recruitRead-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    max-height: 50px;
}

.recruitRead-button:hover {
    background-color: #f0f0f0;
}

/* 신청한 사람 리스트 스타일 */
.recruitRead-applied-list-container h1 {
    font-size: 1.8em;
    margin: 0px;
    color: #333;
    
    padding: 0px;
}

.recruitRead-applied-list {
    width: 100%;
    border-collapse: collapse;
}

.recruitRead-applied-list td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 1em;
    color: #555;
}

.recruitRead-applied-list .recruitRead-no-applicants {
    text-align: center;
    color: #999;
}

.recruitRead-applied-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}

/* 카카오 맵 스타일 */
.recruitRead-kakao-map-container {
    margin-top: 20px;
    /* width: 100%; */
    /* height: 400px; */
    border-radius: 8px;
    overflow: hidden;
}

.recruitRead-kakao-map-container iframe {
    /* min-width: 800px;
    min-height: 600px; */
    border: none;
}

/* 신청 취소 버튼 스타일 */
.recruitRead-cancel-button {
    padding: 5px 10px;
    font-size: 0.9em;
    color: #000;
    background-color: #fff;
    border: 2px solid #dc3545;
    border-radius: 4px;
    cursor: pointer;
}

.recruitRead-cancel-button:hover {
    background-color: #c82333;
    color: #fff;
}

.recruitRead-map{
    display: flex;
    justify-content: space-between;
}