.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    position: absolute; /* Sidebar가 스크롤에 따라 이동하도록 설정 */
    top: 65px; /* Navbar 바로 아래에 위치하도록 설정 (Navbar 높이 65px) */
    left: 0;
    height: 100vh; 
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 전체 너비/높이 설정 */
    z-index: 1000; /* 다른 요소보다 앞에 오도록 설정 */
}


.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    border-bottom: 1px solid #000; /* 얇은 검은색 줄 추가 */
    padding-bottom: 10px; /* 텍스트와 줄 사이의 간격 */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    transition: color 0.2s;
}

.sidebar nav ul li a:hover {
    color: #000;
}

.sidebar nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
    color: #000;
}
