/* Container styling */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.notice_title {
  font-size: 2rem;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Content styling */
.notice_content {
  font-size: 1rem;
  color: #333;
}

/* Form control styling */
.form-control {
  margin-bottom: 20px;
}

/* Button styling */
.btn {
  border-radius: 30px;
  padding: 12px 24px;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-outline-dark {
  border-color: #111;
  color: #111;
}

.btn-outline-dark:hover {
  background-color: #111;
  color: #fff;
}

.noticeCancelBtn {
  background-color: #111;
  color: #fff;
}

.noticeCancelBtn:hover {
  background-color: #333;
  transform: translateY(-3px); /* Hover 시 살짝 들어올리는 효과 */
}

.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}
