/* Signup.css */

.signup-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .signup-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="password"],
  .signup-form input[type="email"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .signup-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form button:disabled {
    background-color: #ccc;
  }
  
  .signup-form button:hover:enabled {
    background-color: #0056b3;
  }
  
  .postcode-container {
    margin-bottom: 15px;
  }
  
  .postcode-container button {
    padding: 8px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .postcode-container button:hover {
    background-color: #5a6268;
  }
  
  /* 모달 창 스타일 */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative; /*x표시창이 모달창 내부에 보이게 추가*/
    background: #fff;
    border-radius: 5px;
    width: 500px;
    max-width: 90%;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
  }
  
  .modal-close:hover {
    color: #ff0000;
  }
  
  
  