.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%; /* 페이지 전체의 너비를 100%로 설정 */
    max-width: 100vw; /* 최대 너비를 뷰포트 너비로 설정 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 전체 너비를 설정 */
}

.main-image-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    box-sizing: border-box; /* 패딩과 보더를 포함한 전체 너비를 설정 */
}

.main-image {
    width: 100%;  /* 가로 크기를 화면에 꽉 채우기 */
    height: auto; /* 이미지의 비율을 유지하면서 높이를 자동으로 설정 */
    max-height: none; /* 최대 높이를 없애고 이미지가 더 크게 표시되도록 설정 */
    object-fit: cover; /* 이미지 비율을 유지하면서 화면에 맞게 조정 */
}

.main-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2em;
    margin-bottom: 10px; /* 간격 줄이기 */
}

.github-text {
    margin-top: 1px; /* 이미지와 텍스트 사이의 간격 */
}

.qr-image {
    width: 10%;
    object-fit: cover; /* 이미지를 화면에 맞게 조정 */
    margin-bottom: 1px; /* 이미지와 텍스트 사이 간격 줄이기 */
}

.main-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-button {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.ImageSlider-title {
    text-align: left; /* 텍스트 왼쪽 정렬 */
    margin-left: 0; /* 추가적인 여백 조정 */
}
